.col-md-10.col-md-offset-1

	.page-header

		%h1 Like this (or like that)

	= render 'table'
	
	%br
	- if user_signed_in?

		%h4
			These items are no good. Lets start over!
			%br
			%br
			= link_to "RESET BUTTON", reset_path, class: "btn btn-default"
			

		/ .text-muted
		/ 	Oh but we make decisions by conensus and need at least
		/ 	= (User.all.count)/2.round(3)
		/ 	votes